- Code cell is used for writing the code
- Markdown is used to add details, descriptions but it does not show any coding syntax

- For titles in Markdown you need to use # to showcase the heading (Just like H1....H6 in Html)

# Fundamentals of Python
## Fundamentals of Python
### Fundamentals of Python
#### Fundamentals of Python
##### Fundamentals of Python
###### Fundamentals of Python

- For typing the text in bold use (***) and use (Single asterix)* for Italics

- For markdown use this shortcut like (ESC+M) keys

### Top Websites to learn Python:
- https://docs.python.org/3/
- https://www.w3schools.com/python/

- To run the cell use CLTRL+Enter

In [4]:
print("I am learning Python")

print('I am learning Python')
# Different forms of printing python
# Single and Double quotes are used for the strings

I am learning Python
I am learning Python

## Data types in Python

Two Types:
1. Basic Data types
    - Integers
    - Float
    - String (text)
    - Boolean
2. Advanced data types
    - Lists
    - Dictionary
    - Tuples
    - Sets

In [19]:
# Assigning some variables with some values
# On the left side of =, we have variable names and on the right side, we have values 
# A variable is an object the value of which can vary  - variable = vary + able

FName = "Pratham" # text or string
LName = 'Mehta'   # text or string
phone = 9819001133   # Don't use capital P in phone 
                     # an integer
height = 5.11        # a float
fresher = False     # Boolean data type should start with capital letters like (True or False) or (Yes or No) or (On or Off)

# All the variable names are case sensitive. That means, phone , Phone and PHONE are three different variablles.
# There are must be no variable name starting with a number
# There must be no space in a variable name

In [20]:
FName  # without print() gives you the format of the data too

'Pratham'

In [21]:
print(FName) # print() gives you the output of the data stored in the variable

Pratham

In [22]:
Phone # Python is case sensitive

NameError: name 'Phone' is not defined

In [23]:
FirstName = "pratham"

In [25]:
phone = 1234567890
phone
# The appearance of the output is in the same sequence as the sequence of the program execution

1234567890

In [33]:
a * 5 # U need to delete the value from the kernel which u do not want to execute
      # a was initialised so tht is the reason why u get the value as 25

25

In [34]:
LName
phone  #In python without print() statement the one with last variable declared will be printed

1234567890

In [35]:
print(LName)
print(phone) # To avoid this we use print() for all the Variables

Mehta
1234567890

## Using Type() and Typecasting

In [36]:
type(LName) # Used to denote the datatype of the variable

str

In [37]:
print(type(FName))
print(type(LName))
print(type(phone))
print(type(height))
print(type(fresher))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [38]:
print(type(FName), type(LName), type(phone))

<class 'str'> <class 'str'> <class 'int'>

## Python can work like a calculator

In [39]:
5+6
5*6

30

In [41]:
# mathematical operators can be applied on numerical data

print(5+6) # addition
print(5-10) # subs
print(5*6) # multiply
print(5/3) # divide
print(5%2) # getting remainder
print(3**2) # square
print(5//3) # quotient of the division

11
-5
30
1.6666666666666667
1
9
1

In [42]:
# Working with variables

num1 = 5
num2 = 6.5

print(num1+num2)
print(num1-num2)

11.5
-1.5

In [43]:
num3 = '5'
print(type(num3)) # string datatype because declared in string datatype

print(num3 + 5) # error because string can be contaneted with string only

<class 'str'>

TypeError: can only concatenate str (not "int") to str

In [44]:
# Contenation of the string using operator '+'
text1 = 'India'
text2 = 'Country'

print(text1 + text2)

IndiaCountry

In [48]:
print(text1 + " " + text2)  # with space as a string to display in better way

India Country

In [49]:
# printing the name 5 times
print(FName * 5)  # Repeating of the string using * operator

PrathamPrathamPrathamPrathamPratham

In [50]:
print(FName * text1)  # String can't multiply sequence by non-int of type 'str'

TypeError: can't multiply sequence by non-int of type 'str'

In [51]:
FullName = FName + LName
FullName

'PrathamMehta'

In [52]:
# Since there was no space, we can use this format
FullName = FName + " " + LName
print(FullName)

Pratham Mehta

In [53]:
# Alternative method to achieve the above 
FullName = print(FName, LName)
FullName

Pratham Mehta

## Loops in Python

1. For loop - we know how many time the task should be repeated.
2. While loop - Repeat the task as long as a condition is true.

In [54]:
# While Loop
num = 0

while num <= 10:  # As long as the value of num is less than or equal to 10
    print(num)    # do this
    num = num + 1 # and this will then go back to while statement to check the condition

0
1
2
3
4
5
6
7
8
9
10

In [55]:
num

11

In [56]:
# For Loop  - we set how many times the task should repeat

EmpRecord = ['Pratham Mehta', 9819001133, 'Accounts', False]

# the above variable is a list, list is variable which can contain multiple elements of same or different data types.
# The elements are always defined bracket and separated by commas.

print(EmpRecord)
print(type(EmpRecord))

['Pratham Mehta', 9819001133, 'Accounts', False]
<class 'list'>

In [59]:
# Items of a list can be accessed using indexing

# From Left to Right, the position/index of the items start with 0,1,2,3.......
# From Right to Left, the position/index of the items start with -1,-2,-3.......

# Fetch the 1st item from the list
print(EmpRecord[0])

Pratham Mehta

In [61]:
# Question-> print the last element of the list

print(EmpRecord[-1])
print(EmpRecord[3])

False
False

In [63]:
# We can also print elements from a range of indices

print(EmpRecord[0:2]) # In a range, the upper is excluded    (0: Upper - 1)

['Pratham Mehta', 9819001133]

In [66]:
# If u want to print all the data so basically take an any number exceeding the limit of the datatype
print(EmpRecord[0:100])

['Pratham Mehta', 9819001133, 'Accounts', False]

# Write a program in Python to create a calculator.

In [75]:
# Ask the user to enter the 1st Number
X = int(input("Enter the 1st Number: "))

# input is used for inputing the user data into the variable

# Ask the user to enter the 2nd Number
y = int(input("Enter the 2nd Number: "))

# Ask what operation to perform
option = int(input("Select the operation: 1 for Addition, 2 for Substraction, 3 for Multiplication and 4 for Division: "))
# input will accept the data in string format, so typecast it into integer datatype

# use if-else statement to perform the operation based on the user's choice

if option == 1:
    result = X + y
    print(result)
    
elif option == 2:
    result = X - y
    print(result)

elif option == 3:
    result = X * y
    print(result)
    
elif option == 4:
    result = X / y
    print(result)
    
else:
    print("Invalid Option")

Enter the 1st Number: 5
Enter the 2nd Number: 4
Select the operation: 1 for Addition, 2 for Substraction, 3 for Multiplication and 4 for Division: 4
1.25